
<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
  <div class="col-md-2"></div>
  </div>
</div>

<%= link_to 'Show', @off_meeting %> |
<%= link_to 'Back', off_meetings_path %>
