

<div class="container">
  <div class="row">
  <div class="col-md-2">col-sm-2</div>
  <div class="col-md-8">
    <h1>New Off Meeting</h1>
    <%= render 'form' %>
  </div>
  <div class="col-md-2">col-sm-2</div>
  </div>
</div>

<%= link_to 'Back', off_meetings_path %>
