<div class="container">
  <div class="row">
  <div class="col-md-2">col-sm-2</div>
  <div class="col-md-8">
    <h1 class="success">参加申し込みが完了しました。</h1>
    <%= link_to "ホームに戻る", root_path %>
    <%= link_to "オフ会の情報をもう一度確認する", off_meeting_path(@entry.off_meeting_id) %>
  </div>
  <div class="col-md-2">col-sm-2</div>
  </div>
</div>