<div class="container">
  <div class="row">
  <div class="col-lg-10 user-form">
    <div class="user-upper-content">
      <h1>New Off Meeting</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="user-downleft-content">
          <h1>xxさんが開催中のオフ会</h1>
          <p>
            <ul>
            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="user-downright-content">
          <h1>xxさんが参加予定のオフ会</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">col-md-2</div>
  </div>
</div>