body {
  background-color: #f0f0f0;
  margin-top: 70px;

}

.common-header {
  width: 100%;
  /*position: fixed;*/
  /*padding: 0 0 100px 0;*/
}

.header-image-area {
 background-color: white;
 width: auto;
 height: 250px;
 text-align: center;
 margin-bottom: 30px;
 margin-top: -20px;
}

.header-image {
  /*float:left;*/
  text-align: center;
  display: table-cell;
}

.top-off-meetings {
  padding: 15px;
  background-color: white;
}

.space {
  margin: 20px 0;
}

.user-form  {
  height: auto;
  /*background-color: white;*/
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(#292929,0.2);
}

.user-upper-content {
  height: auto;
  background-color: White;
}

.user-downleft-content{
  height: 300px;
  background-color: White;
  margin: 5px;
}

.user-downleft-content h2 {
  text-align: center;
}

.user-off-meetings {
  width: auto;
}


.user-downright-content{
  height: 300px;
  background-color: White;
  margin: 5px;
}

.user-downright-content h2 {
  text-align: center;
}

.user-form h1 {
  text-align: center;
}

.content_1 {
  height: 45px;
  width: 350px;
  /*background-color: white;*/
  margin: 10px 15px;
  font-size: 30px;
}


.profile_image {
  height: 240px;
  width: 240px;
  background-color: white;
  background-repeat: no-repeat;
  margin: 0 10px 10px 60px;
}

.profile-bottom-content {
  height: 180px;
  width: 430px;
}

.profile-bottom-content .column-1 {
  width: 110px;
}

.profile-bottom-content #textarea {
  text-align: left;
}

.user-edit-form {
  height: auto;
  width: 600px;
  background-color: white;
  margin: 0 auto;
  padding: 15px;
}

.user-edit-form textarea{
  height: 150px;
}

.search {
  background-color: white;
}

.search-area {
  margin: 0 auto 15px;
  height: 300px;
  width: 600px;
  background-color: white;
  padding: 15px;
  /*box-shadow:3px 3px;*/
  /*border: medium solid SkyBlue;*/
}

.search-items-area {
  height: 150px;
  width: 500px;
  margin: 0 auto;
}

.search-area h1 {
  text-align: center;
}

.search-label {
  width: 100px;
  float: left;
}

.search-item {
  float: left;
}

#search-button {
  text-align: center;
}

.search-result-area {
  background-color: white;
  padding: 5px 10px;
  /*box-shadow:3px 3px;*/
  /*border: medium solid SkyBlue;*/
}

.top-search {
  background-color: white;
}

.top-search-area {
  margin: 0 auto 15px;
  height: 400px;
  width: auto;
  background-color: white;
  padding: 15px;
  /*box-shadow:3px 3px;*/
  /*border: medium solid SkyBlue;*/
}

.top-search-items-area {
  height: 150px;
  width: auto;
  margin: 0 auto;
}

.top-search-area h1 {
  text-align: center;
}

.top-search-label {
  width: 90px;
  float: left;
}

.top-search-item {
  float: left;
}

#top-search-button {
  text-align: center;
}

.top-search-result-area {
  background-color: white;
  padding: 5px 10px;
  /*box-shadow:3px 3px;*/
  /*border: medium solid SkyBlue;*/
}

.search-date {
  margin-bottom: 10px;
}


.entry-user-image {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  display: inline-block;
}

.entry-user-link a{
  display: block;
  height: 50px;
  width: 50px;
  /*display: none;*/
}

.entry-user-link span {
  text-decoration: none;
  visibility: hidden;
}

.entry_button {
  text-align: center;
}

.off-meeting-title-area {

}

.off-meeting-title-area-right {
  font-size: 18px;
  text-align: right;
  margin: 5px 10px 10px 0;
}

/*.off-meeting-title-area */
h1 {
  padding: 0 0 10px;
  border-bottom: 2px solid Crimson;
}

h2 {
  border-bottom: 1.5px solid Crimson;
}

.off_meeting_show {
  background-color: White;
  padding: 15px 15px;
}

.off-meeting-table {
  table-layout: fixed;
  width: 650px;
}

.off-meeting-table #column1 {
  width: 120px;
}

.off-meeting-table #column2 {
  width: 530px;
}
/*
.off-meeting-table tbody tr td:nth-child(1) {
  width:100px;
}*/
/*
.off-meeting-table td:nth-child(2) {
  width:200px;
}*/
/*
.off_meeting_show .column1 {
  width: 90px;
}*/
/*
.off_meeting_show .column2 {
  width: 300px;
}*/

.organizer-area {
  background-color: White;
  margin-left: 15px;
  padding: 10px;
}



.organizer-area h3{
  text-align: center;
  margin-bottom: 5px
}

.organizer-profile-image {
  margin: 0 auto 10px;
  height: 230px;
  width: 250px;
  background-color: white;
  background-repeat: no-repeat;
}

.organizer-area .column-1 {
  width: 90px;
}

.organizer-area #textarea {
  text-align: left;
}

.question-entry-area {
  background-color: White;
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px;
}

.disp-question {
  background-color: White;
  margin: 15px 0 0 0;
  border-bottom: 1.5px solid LightGrey;
  font-size: 15px;
}

.disp-question-img {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 20px;
}

.disp-answer-img {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}

.disp-question-line {
  display: inline-block;
/*  margin: 0 5px;
  border-right: solid 1.5px;*/
  background-color: LightGrey;
  width:1.5px;
  height:50px;
}

.disp-answer-line {
  display: inline-block;
/*  margin: 0 5px;
  border-right: solid 1.5px;*/
  background-color: LightGrey;
  width:1.5px;
  height:50px;
}

.disp-question p {
  font-size: 15px;
}

.disp-answer {
  margin: 5px 0 0 20px;
  font-size: 15px;
  /*display: inline-block;*/
  text-align: right;
}

.answer-button {
  text-align: center;
  margin-bottom: 10px;
}

.talk-area {

}

.talk {
  border-bottom: 2px solid LightGrey;

}

.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:50%;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
    color:#00f;
    text-decoration:underline;
}

.modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.modal-close {
    color:#00f;
    text-decoration:underline;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}


.signup-area {
  margin: 0 auto;
  width: 420px;
  background-color: White;
  padding: 20px 30px;
}

.signup-area h2 {
  border-bottom: 2px solid RoyalBlue;
}

.signup-area input   {
  width: 350px;
}


.signin-area {
  margin: 0 auto;
  width: 420px;
  background-color: White;
  padding: 20px 30px;
}

.signin-area h2 {
  border-bottom: 2px solid RoyalBlue;
}

.signin-area input   {
  width: 350px;
}

.box{
  float: left;
  padding: 10px;
  background-color: #eee;
  width:100px;
  margin:50px 100px;
  text-align:center;
}

#notice {
  font-size: 18px
}

#follow_form {
  padding: 0 100px 10px 0;
  text-align: right;
}


/* googlemap表示用 */
.map_container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map_container .map_canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#map_link {
  color: blue;
}

#nav-top-position {
  margin-left: 150px;
}

#nav-user-position {
  margin-right: 150px;
}

#profile_link {
  color: blue;
}
