body {
  background-color: #f0f0f0;
}

.user-form  {
  height: 700px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba($black,0.2);
}

.user-upper-content {
  height: 300px;
  background-color: Lavender;
}

.user-downleft-content{
  height: 300px;
  background-color: MistyRose;
  margin: 5px;
}

.user-downleft-content h2 {
  text-align: center;
}


.user-downright-content{
  height: 300px;
  background-color: MistyRose;
  margin: 5px;
}

.user-downright-content h2 {
  text-align: center;
}

.user-form h1 {
  text-align: center;
}


.profile_line {
  margin: 5px 0 0 -90px;
  border-bottom: 2px solid red;
  /*float: left;*/
}

.content_1 {
  height: 45px;
  width: 350px;
  /*background-color: white;*/
  margin: 10px 15px;
  font-size: 30px;
}

.left_content_2 {
  height: 35px;
  width: 200px;
  /*background-color: white;*/
  float: left;
  margin: 5px 5px 0 5px;
  /*font-size: 20px;*/
}

.middle_content_2 {
  height: 35px;
  width: 100px;
  /*background-color: white;*/
  float: left;
  margin: 5px 5px 0 5px;
}

.right_content_2 {
    height: 35px;
    width: 150px;
    /*background-color: white;*/
  float: left;
  margin: 5px 5px 0 5px;
}

.content_2 {
  font-size: 24px;
}

.content_3 {
  height: 125px;
  width: 460px;
  background-color: white;
  margin: 5px 10px;
  font-size: 18px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.profile_image {
  height: 230px;
  width: 250px;
  background-color: white;
  background-repeat: no-repeat;
  margin: 10px 10px 0 60px;
}

.user-edit-form {
  height: auto;
  width: 600px;
  background-color: white;
  margin: 0 auto;
  padding: 15px;
}

.user-edit-form textarea{
  height: 150px;
}

.search-area {
  margin: 0 auto 15px;
  height: 300px;
  width: 600px;
  background-color: white;
  padding: 15px;
  box-shadow:3px 3px;
  border: medium solid SkyBlue;
}

.search-items-area {
  height: 150px;
  width: 500px;
  margin: 0 auto;
}

.search-area h1 {
  text-align: center;
}

.search-label {
  width: 100px;
  float: left;
}

.search-item {
  float: left;
}

#search-button {
  text-align: center;
}

.search-result-area {
  background-color: white;
  box-shadow:3px 3px;
  border: medium solid SkyBlue;
}


.entry-user-image {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  display: inline-block;
}

.entry-user-link a{
  display: block;
  height: 50px;
  width: 50px;
  /*display: none;*/
}

.entry-user-link span {
  text-decoration: none;
  visibility: hidden;
}



